
.bg-rules {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
 }

.bg-color {
  background: url(../img/body_background.jpg) center/cover;

}

.linha3 {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(112,61,0);
  background: linear-gradient(90deg, rgba(112,61,0,0.5) 0%, rgba(77,33,0,0.5) 35%, rgba(32,5,0,0.5) 100%);
  color: #fff;
}

.header-h1 {
  margin: 0;
  font-size: 25px;
}

.nav-img {
  width: 40px;
  margin-left: 20px;
}

.img-logo {
    width: 100px;

}
.nav-a {
  color: #fff;
  text-decoration: none;
  background-color: #ffffff4f;
  padding: 20px 20px 15px 20px;
  border-radius: 20px 20px;
  margin: 0 20px;
}

.nav-a1 {
  color: #fff;
  text-decoration: none;
  background-color: #ffffff4f;
  padding: 20px 30px 15px 30px;
  border-radius: 20px 20px;
  margin: 0 20px;
}

.nav-a:hover,
.nav-a1:hover {
  background: brown;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.slider-index img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px;
}
  
.slider img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 20px 20px;
}

.apresentacao {
  color: white;
  font-size: 20px;
  padding-left: 40px;
  
}

.container {
  padding-top: 40px;
}

.delivery {
  display: none;
}

.funcionamento {
  padding-top: 20px;
}

.funcionamento-h1,
.local-h1,
.maintop-h1,
.footer-h1,
.cardapio-h1 {
  text-align: center;
  color: white;
  margin: 0;
}

.local-h1 {
  margin-top: 30px;
}

.funcionamento-h1-gradient {
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(54deg ,#ffb451, #ff5f1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funcionamento-p {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: 100;
}
.funcionamento-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px 20px;
  object-fit: cover;
}

.map {
  border-radius: 20px 20px;
  height: 400px;
  width: 80vw;
}

.social-img {
  width: 60px;
  margin: 0 20px;
}

.social-img:hover {
  filter: opacity(50%);
  filter: drop-shadow(0px 0px 10px #805635);}

.tracejado {
  border-top: 3px dotted rgb(255, 221, 215);
  margin: 0 5px;
}

  

@media (max-width: 941px) {
  
  .apresentacao {
    padding-left: 0;
    font-size: 20px;
    padding-top: 30px;

  }

  .header-h1 {
    display: none;
  }

  .container, .funcionamento {
    margin-top: 0;
    padding-top: 0;
  }

  .linha2 {
    display: block;
    border: none;
    width: 70vw;
    height: 5px;
    background: rgba(201, 82, 35, 0.5);
    border-radius: 10px 10px;
    margin: 20px auto 20px auto;  
  }

  .funcionamento-h1-gradient {
    margin-bottom: 0;
  }

  .nav-img {
    display: none;
  }

  .delivery {
    display: block;
  }

  .delivery-h1 {
    text-align: center;
    color: white;
  }

  .linha3 {
    display: block;
    border: none;
    width: 70vw;
    height: 5px;
    background: rgba(201, 82, 35, 0.5);
    border-radius: 10px 10px;
    margin: 0 auto 10px auto;      
  }

  .map {
    height: 300px;
    border-radius: 10px 10px;
  }

  .cardapio-h1,
  .carousel-h1,
  .petiscos-h1,
  .bebidas-h1,
  .chamar-whats {
    margin-top: 30px;
  }





}